
<%= form_for(@post, url: choose_new_or_edit) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <!--バリデーションエラーの件数を表示します。-->
      <h2><%= @post.errors.count %>件のエラーがあります</h2>

      <ul>
        <!--@blog.errorsは@blogをバリデーションした際のエラー情報です。-->
        <!--full_messagesは複数のエラーメッセージを表します。-->
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p><%= f.label "コメント" %></p>
  <p><%= f.text_field :content, class: 'form-control' %></p>
  <p><%= f.label "photo" %></p>
  <p><%= f.file_field :photo, class: 'photo_up' %></p>

  <br>
  <%= f.submit "投稿する", class: 'btn btn-primary btn-block' %>
<% end %>
<%= link_to "投稿一覧にもどる", posts_path %>
