<div class="container">
  <div class="wrapper col-xs-6 col-xs-offset-3">

      <p class="flash"><%= notice %><%= alert %></p>

    <h1>投稿一覧</h1>
    <p><%= link_to "投稿", new_post_path, class:'btn btn-primary' %></p>
    <% @posts.reverse_each do |post| %>


      <div class="row">
        <div class = "photo">
          <p><%= post_photo(post) %></p>
          <p><%= post.content %></p>
          <p>
            <%= link_to "編集", edit_post_path(post.id), data: { confirm: '本当に編集していいですか？' }, class: 'btn btn-success' %>
            <%= link_to "削除", post_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-danger' %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
