<p><%= notice %></p>
<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <p>コメント：<%= post.content %></p>

  <p><%= post_photo(post) %></p>

  <%= link_to "編集する", edit_post_path(post.id), data: { confirm: '本当に編集していいですか？' } %>
  <%= link_to "削除する", post_path(post.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>

<% end %>

<p><%= link_to "投稿する", new_post_path %></p>
